@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body,html {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom dark green small scrollbar for WebKit browsers */
body::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Control horizontal scrollbar height */
}

body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
  background: #003300; /* dark greenish background */
}

body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  background-color: #006400; /* dark green */
  border-radius: 6px;
  border: 2px solid #003300; /* padding around thumb */
  /* Reduce the height of the scrollbar thumb */
  max-height: 60px;
}

/* Custom scrollbar for Firefox */
body, html {
  scrollbar-width: thin;
  scrollbar-color: #05b905 #000000;
}

/* Add this to limit scrollbar thumb size in Firefox */
* {
  scrollbar-width: auto;
}

.shadow-bg {
  box-shadow: inset 0 -175px 77px 15px #000;
}

@media (min-width: 1550px) {
  .custom-width001 {
    width: 20rem;
    height: 465px;
  }
}

@media (min-width: 1840px) {
  .custom-width001 {
    width: 23rem;
    height: 530px;
  }
}

@media (min-width: 2064px) {
  .custom-width001 {
    width: 24rem;
    height: 540px;
  }
}

@media (min-width: 2320px) {
  .custom-width001 {
    width: 25rem;
    height: 580px;
  }
}

@media (min-width: 2512px) {
  .custom-width001 {
    width: 34rem;
    height: 730px;
  }
}

@media (640px <= width < 1550px) {
  .custom-width001 {
    width: 18rem;
  }
  .custom-width001 {
    height: 390px;
  }
}

::selection{
  color: rgb(16, 170, 16);
}